
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.404); 
    backdrop-filter: blur(3px);
    padding: 10px;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    width: 100%;
}

.info> * {
   margin: 0px 10px;
}

.degree {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex: 0.5;
    padding-left: 10%;
    font-weight: bolder;
}

.degree>div {
    font-size: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family:  Arial, Helvetica, sans-serif
}


.city{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    font-weight: bold;
    
}

.city>* {
    margin: 5px 0px;
}

.city-name {
    font-size: 2.5rem;
}

.city-day {
    font-size: 2rem;
}
.date {
    font-size: 1.5rem;
}

.weather-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-around;;
    align-items: center;
    flex: 0.5;
    padding-right: 10%;
}

.weather-icon>div>img {
    width: 150px;
    height: 150px;
    margin-bottom: -50px;
}
.weather-description {
    font-size: 1.5rem;
    font-weight: bold;
}







